<a href="https://colab.research.google.com/github/StefanFischer/SAKI-Project2/blob/main/ner_2_2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Getting started with Spacy<br>
Import data.<br>
We repeat the preprocessing from the previous homework.

In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [2]:
import os

In [3]:
os.chdir( "/content/gdrive/MyDrive/flair" )

In [4]:
path_to_data = os.getcwd() + '/Entity Recognition in Resumes.json'

In [5]:
myfile = open( path_to_data, "r", encoding = "utf-8" )

imported_data = []

for datum in myfile:
    
    # TODO process data
    imported_data.append(datum)

myfile.close()

# TODO print first line
print(imported_data[0])

# TODO print how many resumees were read in
print("amount resumees : "+ str(len(imported_data)))

{"content": "Afreen Jamadar\nActive member of IIIT Committee in Third year\n\nSangli, Maharashtra - Email me on Indeed: indeed.com/r/Afreen-Jamadar/8baf379b705e37c6\n\nI wish to use my knowledge, skills and conceptual understanding to create excellent team\nenvironments and work consistently achieving organization objectives believes in taking initiative\nand work to excellence in my work.\n\nWORK EXPERIENCE\n\nActive member of IIIT Committee in Third year\n\nCisco Networking -  Kanpur, Uttar Pradesh\n\norganized by Techkriti IIT Kanpur and Azure Skynet.\nPERSONALLITY TRAITS:\n• Quick learning ability\n• hard working\n\nEDUCATION\n\nPG-DAC\n\nCDAC ACTS\n\n2017\n\nBachelor of Engg in Information Technology\n\nShivaji University Kolhapur -  Kolhapur, Maharashtra\n\n2016\n\nSKILLS\n\nDatabase (Less than 1 year), HTML (Less than 1 year), Linux. (Less than 1 year), MICROSOFT\nACCESS (Less than 1 year), MICROSOFT WINDOWS (Less than 1 year)\n\nADDITIONAL INFORMATION\n\nTECHNICAL SKILLS:\n\n• Programming Languages: C, C++, Java, .net, php.\n• Web Designing: HTML, XML\n• Operating Systems: Windows […] Windows Server 2003, Linux.\n• Database: MS Access, MS SQL Server 2008, Oracle 10g, MySql.\n\nhttps://www.indeed.com/r/Afreen-Jamadar/8baf379b705e37c6?isid=rex-download&ikw=download-top&co=IN","annotation":[{"label":["Email Address"],"points":[{"start":1155,"end":1198,"text":"indeed.com/r/Afreen-Jamadar/8baf379b705e37c6"}]},{"label":["Links"],"points":[{"start":1143,"end":1239,"text":"https://www.indeed.com/r/Afreen-Jamadar/8baf379b705e37c6?isid=rex-download&ikw=download-top&co=IN"}]},{"label":["Skills"],"points":[{"start":743,"end":1140,"text":"Database (Less than 1 year), HTML (Less than 1 year), Linux. (Less than 1 year), MICROSOFT\nACCESS (Less than 1 year), MICROSOFT WINDOWS (Less than 1 year)\n\nADDITIONAL INFORMATION\n\nTECHNICAL SKILLS:\n\n• Programming Languages: C, C++, Java, .net, php.\n• Web Designing: HTML, XML\n• Operating Systems: Windows […] Windows Server 2003, Linux.\n• Database: MS Access, MS SQL Server 2008, Oracle 10g, MySql."}]},{"label":["Graduation Year"],"points":[{"start":729,"end":732,"text":"2016"}]},{"label":["College Name"],"points":[{"start":675,"end":702,"text":"Shivaji University Kolhapur "}]},{"label":["Degree"],"points":[{"start":631,"end":672,"text":"Bachelor of Engg in Information Technology"}]},{"label":["Graduation Year"],"points":[{"start":625,"end":629,"text":"2017\n"}]},{"label":["College Name"],"points":[{"start":614,"end":622,"text":"CDAC ACTS"}]},{"label":["Degree"],"points":[{"start":606,"end":611,"text":"PG-DAC"}]},{"label":["Companies worked at"],"points":[{"start":438,"end":453,"text":"Cisco Networking"}]},{"label":["Email Address"],"points":[{"start":104,"end":147,"text":"indeed.com/r/Afreen-Jamadar/8baf379b705e37c6"}]},{"label":["Location"],"points":[{"start":62,"end":67,"text":"Sangli"}]},{"label":["Name"],"points":[{"start":0,"end":13,"text":"Afreen Jamadar"}]}],"extras":null,"metadata":{"first_done_at":1527844872000,"last_updated_at":1537724086000,"sec_taken":0,"last_updated_by":"BIQNZm4INNfvByMqkaVwVt6OZTv2","status":"done","evaluation":"CORRECT"}}

amount resumees : 701

In [6]:
import json

In [7]:
mapped_data = [ json.loads( datum ) for datum in imported_data  ]

In [8]:
## data conversion method
def convert_data(data):
    """
    Creates NER training data in Spacy format from JSON dataset
    Outputs the Spacy training data which can be used for Spacy training.
    """
    text = data['content']
    entities = []
    if data['annotation'] is not None:
        for annotation in data['annotation']:
            # only a single point in text annotation.
            point = annotation['points'][0]
            labels = annotation['label']
            # handle both list of labels or a single label.
            if not isinstance(labels, list):
                labels = [labels]
            for label in labels:
                # dataturks indices are both inclusive [start, end] but spacy is not [start, end)
                entities.append((point['start'], point['end'] + 1, label))
    return (text, {"entities": entities})
   
## TODO using a loop or list comprehension, convert each resume in mapped_data using the convert function above, 
## storing the result
converted_resumes = [convert_data(entry) for entry in mapped_data]
## TODO print the number of resumes in converted resumes 
print(len(converted_resumes))

701

In [9]:
# TODO filter out the resumees whose entities have no entries.
def empty_entity_list(data):
  entityList = data[1]["entities"]
  if len(entityList) == 0:
    return True
  return False

converted_complete_resumees = [data for data in converted_resumes if not empty_entity_list(data)]

Up until now, you could reuse the code from the previous notebook, now, something new comes.

In [10]:
import spacy
spacy.prefer_gpu()
nlp = spacy.load('en')
print(nlp)

<spacy.lang.en.English object at 0x7f0ed9113d90>

__nlp__ is Spacy's English language model. For this model, a pretrained NER-model exists.

In [11]:
ner = nlp.get_pipe('ner')
labels = ner.labels
print(labels)

('CARDINAL', 'DATE', 'EVENT', 'FAC', 'GPE', 'LANGUAGE', 'LAW', 'LOC', 'MONEY', 'NORP', 'ORDINAL', 'ORG', 'PERCENT', 'PERSON', 'PRODUCT', 'QUANTITY', 'TIME', 'WORK_OF_ART')

__Question 1__: Explain the labels __GPE__, __FAC__, __NORP__.<br>
Which of these labels from __ner__ do you think will Spacy recognize in the resumees?<br>
From Spacy Website:

GPE: Geopolitical entity, i.e. countries, cities, states.

NORP: Nationalities or religious or political groups

FAC: buildings, airports etc.

__Task 1__: choose a resumee.

In [12]:
# TODO get a single resume text and print it out.
restxt = converted_complete_resumees[0][0]
## print it out, removing extraneous spaces
print("\n".join(restxt.split('\n\n')))

Afreen Jamadar
Active member of IIIT Committee in Third year
Sangli, Maharashtra - Email me on Indeed: indeed.com/r/Afreen-Jamadar/8baf379b705e37c6
I wish to use my knowledge, skills and conceptual understanding to create excellent team
environments and work consistently achieving organization objectives believes in taking initiative
and work to excellence in my work.
WORK EXPERIENCE
Active member of IIIT Committee in Third year
Cisco Networking -  Kanpur, Uttar Pradesh
organized by Techkriti IIT Kanpur and Azure Skynet.
PERSONALLITY TRAITS:
• Quick learning ability
• hard working
EDUCATION
PG-DAC
CDAC ACTS
2017
Bachelor of Engg in Information Technology
Shivaji University Kolhapur -  Kolhapur, Maharashtra
2016
SKILLS
Database (Less than 1 year), HTML (Less than 1 year), Linux. (Less than 1 year), MICROSOFT
ACCESS (Less than 1 year), MICROSOFT WINDOWS (Less than 1 year)
ADDITIONAL INFORMATION
TECHNICAL SKILLS:
• Programming Languages: C, C++, Java, .net, php.
• Web Designing: HTML, XML
• Operating Systems: Windows […] Windows Server 2003, Linux.
• Database: MS Access, MS SQL Server 2008, Oracle 10g, MySql.
https://www.indeed.com/r/Afreen-Jamadar/8baf379b705e37c6?isid=rex-download&ikw=download-top&co=IN

Next, we let __nlp__ process that single resumee.<br>
__Task 2__: print the results in __doc__. For each result, print the underlying text and the label.

In [13]:
doc = nlp(restxt)
# TODO  Print the results in doc. For each result, print the text and the label.
for ent in doc.ents:
    print(ent.text, ent.start_char, ent.end_char, ent.label_)

Afreen Jamadar 0 14 PERSON
IIIT Committee 32 46 ORG
Third year 50 60 DATE
Sangli 62 68 ORG
Maharashtra - Email 70 89 ORG
IIIT Committee 408 422 ORG
Third year 426 436 DATE
Cisco Networking -   438 458 ORG
Kanpur 458 464 GPE
Uttar 466 471 GPE
Techkriti IIT Kanpur 494 514 ORG
Azure Skynet 519 531 WORK_OF_ART
2017 625 629 DATE
Bachelor of Engg in Information Technology 631 673 ORG
Shivaji University 675 693 ORG
Kolhapur 694 702 PERSON
Kolhapur 706 714 GPE
Maharashtra 716 727 ORG
2016 729 733 DATE
SKILLS 735 741 ORG
Less than 1 year 753 769 DATE
Less than 1 year 778 794 DATE
Linux 797 802 PERSON
Less than 1 year 805 821 DATE
MICROSOFT 824 833 ORG
ACCESS 834 840 ORG
Less than 1 year 842 858 DATE
MICROSOFT 861 870 ORG
Less than 1 year 880 896 DATE
C++ 970 973 CARDINAL
Java 975 979 PERSON
XML 1015 1018 ORG
Operating Systems 1021 1038 ORG
2003 1067 1071 DATE
Linux 1073 1078 PERSON
MS Access 1092 1101 ORG
SQL 1106 1109 ORG
2008 1117 1121 DATE
10 1130 1132 CARDINAL
MySql 1135 1140 PERSON

__Question 2__: How well did Spacy perform at recognizing the labels for this text?<br>
The more common entities like date were detected quite good, but for entities skills and companies worked at the classification was bad. Often companies and universities were classified as organizations.

When Spacy predicted the labels for this resumee, a pretrained model was used.<br>
__Task 3__: print for this resumee the original labels and their corresponding text.

In [14]:
# TODO print for that resumee the original labels and their corresponding text.

labeled_ents = converted_complete_resumees[0][1]["entities"]
text = converted_complete_resumees[0][0]

for ent in labeled_ents:
    print(text[ent[0]:ent[1]] +" "+ str(ent[0]) +" "+ str(ent[1]) +" "+ str(ent[2]))

indeed.com/r/Afreen-Jamadar/8baf379b705e37c6 1155 1199 Email Address
https://www.indeed.com/r/Afreen-Jamadar/8baf379b705e37c6?isid=rex-download&ikw=download-top&co=IN 1143 1240 Links
Database (Less than 1 year), HTML (Less than 1 year), Linux. (Less than 1 year), MICROSOFT
ACCESS (Less than 1 year), MICROSOFT WINDOWS (Less than 1 year)

ADDITIONAL INFORMATION

TECHNICAL SKILLS:

• Programming Languages: C, C++, Java, .net, php.
• Web Designing: HTML, XML
• Operating Systems: Windows […] Windows Server 2003, Linux.
• Database: MS Access, MS SQL Server 2008, Oracle 10g, MySql. 743 1141 Skills
2016 729 733 Graduation Year
Shivaji University Kolhapur  675 703 College Name
Bachelor of Engg in Information Technology 631 673 Degree
2017
 625 630 Graduation Year
CDAC ACTS 614 623 College Name
PG-DAC 606 612 Degree
Cisco Networking 438 454 Companies worked at
indeed.com/r/Afreen-Jamadar/8baf379b705e37c6 104 148 Email Address
Sangli 62 68 Location
Afreen Jamadar 0 14 Name

__Question 3__: Compare the performance of the pretrained model __nlp__ and the true labels. Did Spacy perform well? If not, try to explain why.<br>

Spacy did not perform very well, as there is additional expert knowledge for computer science skills needed to detect those. The pretrained nlp is not trained for this very specialized goal.

__Task 4__: Remember last homework? You chose three labels. Select all the resumees, in which all three labels appear.

In [15]:
# TODO fill in your chosen labels in chosen_entity_labels
chosen_entity_labels = [ "Skills", "Companies worked at", "Degree" ]

## this method gathers all resumes which have all of the chosen entites above.
def gather_candidates(dataset,entity_labels):
    candidates = list()
    for resume in dataset:
        res_ent_labels = list(zip(*resume[1]["entities"]))[2]
        if set(entity_labels).issubset(res_ent_labels):
            candidates.append(resume)
    return candidates

training_data = gather_candidates( converted_complete_resumees, chosen_entity_labels )
print("Gathered {} training examples".format(len(training_data)))

Gathered 437 training examples

__Task 5__: Next, we want to remove all other entities, since we only want to train NER for the three entities in __chosen_entity_labels__.

In [16]:
## filter all annotation based on filter list
def filter_ents(ents, filter):
    filtered = [ent for ent in ents if ent[2] in filter]
    return filtered

## TODO use method above to remove all but relevant (chosen) entity annotations and store in X variable. X shall contain all
## the resumees from training_data, but their entity annotations shall be filtered using the function from above.
X = list()
#filter_ents(converted_complete_resumees[0][1]["entities"], chosen_entity_labels)
for res in training_data:
  ent = res[1]["entities"]
  filtered_ent = filter_ents(ent, chosen_entity_labels)
  res[1]["entities"] = filtered_ent
  X.append(res)

__Task 6__: Some resumees cause trouble. We filter these out with the following lines of code.<br>
First, use __add_label__ to add your chosen labels to the __ner__ model.

In [17]:
from spacy.gold import GoldParse 

# TODO add your labels 
ner.add_label( "Skills" )

ner.add_label( "Companies worked at" )

ner.add_label( "Degree"  )

nlp.begin_training()


good = []

for item in X:
  
  text = nlp.make_doc( item[ 0 ] )

  try:
    
    gold = GoldParse( text, entities = item[ 1 ][ "entities" ] )

  except:

    continue
  
  try:
    
    nlp.update( [ text ], [ gold ], drop = 0.3 )

  except:

    pass

  else:

    good.append( item )

print( "Number of good samples: " + str( len( good ) ) )

print( "" )

print( "" )

print( "Number of bad sampples: " + str( len( X ) - len( good ) ) )

Number of good samples: 351


Number of bad sampples: 86

For a machine learning model, it is essential to be able to generalize. Only a model, that can generalize well is able to process new data in a meaningful way. Therefore, one usually separates the data set into two sets: the training set and the test set. The training set is used to train the model. The test set is used to evaluate the performance of the model on unseen data.

In [18]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split( [ item[ 0 ] for item in good ], [ item[ 1 ] for item in good ], test_size = 0.3 )

__Task 7__: Complete the following code. Shuffle __new_index__. Create the data sets __x_shuffled__ and __y_shuffled__. Use these to create minibatches, iterate over these minibatches, preprocess the data in a given minibatch using __nlp.make_doc__ and __GoldParse__. Employ __nlp.update__ to update the model using these preprocessed data.

In [19]:
import numpy as np
from sklearn.utils import shuffle
from spacy.util import minibatch, compounding

nlp.begin_training()

new_index = np.arange( len( x_train ) )

x_data = np.array( x_train )

y_data = np.array( y_train )

for i in range( 25 ):

  # TODO shuffle new_index
  new_index = shuffle(new_index, random_state=0)

  #TODO create x_shuffled from x_data by using the shuffled new_index
  #TODO create y_shuffled from y_data by using the shuffled new_index
  x_shuffled = list()
  y_shuffled = list()
  for ind in new_index:
    x_shuffled.append(x_data[ind])
    y_shuffled.append(y_data[ind]["entities"])
  
  # TODO
  # divide the data in x_shuffled and y_shuffled into minibatches of identical size
  # iterate over these minibatches
  # preprocess the data in a minibatch using nlp.make_doc and GoldParse
  # use these preprocessed data and nlp.update to train the model

  batches = minibatch(zip(x_shuffled, y_shuffled), size=25)
  for batch in batches:
    texts = list()
    golds = list()
    for sample in batch:
      text = nlp.make_doc(str(sample[0]))
      gold = GoldParse(text, entities=sample[1])
      texts.append(text)
      golds.append(gold)
    
    nlp.update(texts, golds, drop=0.2)

__Question 4__: Why did we shuffle the data?<br> 
To minimize correlation between the different samples, as network could learn the ordering of the labels

Why did we employ mini batches?<br>

With mini-batches the training is stabilized. Furthermore, the computation efficiency is better.

Reasearch the term __epoch__ in machine learning. How many epochs of training do we employ?<br>

Epoch is amount of training episodes. In each episode we take the whole training set to train the network. Here, we have a epoch number of 20, so we process the whole training set 20 times.

__Task 8__: Next, we choose one resumee and print it.

In [20]:
sample = 6
resume = x_test[sample]

print( resume )

Rakesh Tikoo
Rich mix of sales development with14 years of experience

Mumbai, Maharashtra - Email me on Indeed: indeed.com/r/Rakesh-Tikoo/6f55b7d67d4510af

Willing to relocate to: Mumbai, Maharashtra - Pune, Maharashtra - Indore, Madhya Pradesh

WORK EXPERIENCE

Sales manager

Agc networks ltd -  Mumbai, Maharashtra -

October 2014 to Present

I have been working as sales manager, primaraily selling solutions across UC, Data centre and
edge IT, Hyper converged infra, cyber security, and services sales

Account manager

Airtel business

Worked as an account manager handling sales of VPN, Data centre colocation, Teleport, DMX
platform, mobility

EDUCATION

BA in Economics

Jammu university -  Jammu, Jammu and Kashmir

SKILLS

Sales, Account Management, Business Management, Sales Management, Sales Manager,
Business Development

ADDITIONAL INFORMATION

14 years of experience in sales... Solution selling across IT and Telecom domain

https://www.indeed.com/r/Rakesh-Tikoo/6f55b7d67d4510af?isid=rex-download&ikw=download-top&co=IN

__Task 9__: we process this resumee using __nlp__. Print for all items in __doc.ents__ the predicted label and the corresponding text. Then print the correct labels and their corresponding text for that resumee with data from __y_test__.

In [21]:
doc = nlp( resume )
# TODO
# print for all the items in doc.ents the predicted label and the corresponding text

print("Predicted Values:")
for item in doc.ents:
  print(item.text, item.label_)
# TODO
# print the correct labels and their corresponding text for that resumee with data from y_test

print()
print("True Values:")
for item in y_test[sample]["entities"]:
  print(item[2] +" : " + x_test[sample][item[0]:item[1]])

Predicted Values:
Agc networks ltd Companies worked at
BA in Economics Degree
Sales, Account Management, Business Management, Sales Management, Sales Manager,
Business Development

ADDITIONAL INFORMATION

14 years of experience in sales... Solution selling across IT and Telecom domain

https://www.indeed.com/r/Rakesh-Tikoo/6f55b7d67d4510af?isid=rex-download&ikw=download-top&co=IN Skills

True Values:
Skills : Sales, Account Management, Business Management, Sales Management, Sales Manager,
Business Development
Degree : BA in Economics
Companies worked at : Airtel business
Companies worked at : Agc networks ltd

__Question 5__: What labels did the model predict correctly?<br> Worked well for Companies worked at and Degree

Where appeared problems?<br> Network has problems with Skills

How can you explain the problems?<br> Skills is a very difficult entity, as there are products of companies as microsoft, which could be also interpreted as company worked at. Furthermore, it is difficult to set the correct borders between those entities


__Question 6__: We can evaluate the performance of the model using 4 metrics: the __Accuracy__, the __Precision__, the __Recall__ and __F1__.<br>
Inform yourself on these metrics. How are they defined? Explain the concept of __True Positive__, __True Negative__, __False Positive__ and __False Negative__. Use these to define  the __Accuracy__, the __Precision__, the __Recall__ and __F1__, and also give the formula for each of these.<br>

Those were already described in the first assignment. 

__Task 10__: Complete the following code. Call __make_bilou_df__ with a resume from the test set and store result in __bilou_df__ variable.

In [22]:
from spacy.gold import biluo_tags_from_offsets
import pandas as pd
from IPython.display import display, HTML

## returns a pandas dataframe with tokens, prediction, and true (Gold Standard) annotations of tokens
def make_bilou_df(nlp,resume):
    """
    param nlp - a trained spacy model
    param resume - a resume from our train or test set
    """
    doc = nlp(resume[0])
    bilou_ents_predicted = biluo_tags_from_offsets(doc, [(ent.start_char,ent.end_char,ent.label_)for ent in doc.ents])
    bilou_ents_true = biluo_tags_from_offsets(doc, [(ent[0], ent[1], ent[2]) for ent in resume[1]["entities"]])

    
    doc_tokens = [tok.text for tok in doc]
    bilou_df = pd.DataFrame()
    bilou_df["Tokens"] =doc_tokens
    bilou_df["Tokens"] = bilou_df["Tokens"].str.replace("\\s+","") 
    bilou_df["Predicted"] = bilou_ents_predicted
    bilou_df["True"] = bilou_ents_true
    return bilou_df

## TODO call method above with a resume from test set and store result in bilou_df variable.


bilou_df = make_bilou_df( nlp, [x_test[sample], y_test[sample]])
display(bilou_df)
display(bilou_df[bilou_df["Predicted"] != bilou_df["True"]])  
display(bilou_df[bilou_df["Predicted"] == bilou_df["True"]])

                                                Tokens Predicted True
0                                               Rakesh         O    O
1                                                Tikoo         O    O
2                                                              O    O
3                                                 Rich         O    O
4                                                  mix         O    O
..                                                 ...       ...  ...
173                                                and  I-Skills    O
174                                            Telecom  I-Skills    O
175                                             domain  I-Skills    O
176                                                     I-Skills    O
177  https://www.indeed.com/r/Rakesh-Tikoo/6f55b7d6...  L-Skills    O

[178 rows x 3 columns]

                                                Tokens  ...                   True
48                                                 Agc  ...                      -
49                                            networks  ...                      -
50                                                 ltd  ...                      -
98                                              Airtel  ...  B-Companies worked at
99                                            business  ...  L-Companies worked at
157                                        Development  ...               L-Skills
158                                                     ...                      O
159                                         ADDITIONAL  ...                      O
160                                        INFORMATION  ...                      O
161                                                     ...                      O
162                                                 14  ...                      O
163                                              years  ...                      O
164                                                 of  ...                      O
165                                         experience  ...                      O
166                                                 in  ...                      O
167                                              sales  ...                      O
168                                                ...  ...                      O
169                                           Solution  ...                      O
170                                            selling  ...                      O
171                                             across  ...                      O
172                                                 IT  ...                      O
173                                                and  ...                      O
174                                            Telecom  ...                      O
175                                             domain  ...                      O
176                                                     ...                      O
177  https://www.indeed.com/r/Rakesh-Tikoo/6f55b7d6...  ...                      O

[26 rows x 3 columns]

       Tokens Predicted      True
0      Rakesh         O         O
1       Tikoo         O         O
2                     O         O
3        Rich         O         O
4         mix         O         O
..        ...       ...       ...
152     Sales  I-Skills  I-Skills
153   Manager  I-Skills  I-Skills
154         ,  I-Skills  I-Skills
155            I-Skills  I-Skills
156  Business  I-Skills  I-Skills

[152 rows x 3 columns]

Inform yourself on the [BILUO](https://spacy.io/usage/linguistic-features#accessing-ner) scheme.<br>
__Question 7__: Why do you think is it better to tag entities using this scheme (consider names of humans, descriptions of items in a shop)?<br>
Names consist mostly of 2 words, but companies, degrees and skills can consists of multiple words. Furthermore, there is a difference of a single word entity and multiple words entity.

__Task 11__: employ pandas dataframe api to get a subset where predicted and true labels are the same. Compute the accuracy using the formula you researched above.

In [23]:
## TODO bilou_df is a pandas dataframe. Use pandas dataframe api to get a subset where predicted and true are the same. 
same_df = bilou_df[bilou_df["Predicted"] == bilou_df["True"]]
## TODO compute the accuracy 
accuracy = same_df.shape[0] / bilou_df.shape[0]

print("Accuracy on one resume: ",accuracy)

Accuracy on one resume:  0.8539325842696629

The __accuracy__ is not 100%. Therefore, we want to have a look at those tokens, where the predicted and the true value differ.<br>
__Task 12__: create a dataframe diff_df where the predicted values and the true values differ

In [24]:
# TODO create a dataframe diff_df where the predicted values and the true values differ
diff_df = bilou_df[bilou_df["Predicted"] != bilou_df["True"]]
display(diff_df)

                                                Tokens  ...                   True
48                                                 Agc  ...                      -
49                                            networks  ...                      -
50                                                 ltd  ...                      -
98                                              Airtel  ...  B-Companies worked at
99                                            business  ...  L-Companies worked at
157                                        Development  ...               L-Skills
158                                                     ...                      O
159                                         ADDITIONAL  ...                      O
160                                        INFORMATION  ...                      O
161                                                     ...                      O
162                                                 14  ...                      O
163                                              years  ...                      O
164                                                 of  ...                      O
165                                         experience  ...                      O
166                                                 in  ...                      O
167                                              sales  ...                      O
168                                                ...  ...                      O
169                                           Solution  ...                      O
170                                            selling  ...                      O
171                                             across  ...                      O
172                                                 IT  ...                      O
173                                                and  ...                      O
174                                            Telecom  ...                      O
175                                             domain  ...                      O
176                                                     ...                      O
177  https://www.indeed.com/r/Rakesh-Tikoo/6f55b7d6...  ...                      O

[26 rows x 3 columns]

Since we only considered one resumee, we now make this comparison for the whole test set.<br>
__Task 13__: Complete the following code for the computation of the overall accuracy.

In [25]:
doc_accuracy = []

for i in range( len( x_test ) ):

  resume = [x_test[i], y_test[i]]


  bilou_df = make_bilou_df(nlp,resume)

  same_df = bilou_df[bilou_df["Predicted"] == bilou_df["True"]]

  doc_accuracy.append( same_df.shape[0] / bilou_df.shape[0] )

total_acc = np.mean( doc_accuracy )
print("Accuracy: ",total_acc)

Accuracy:  0.8484560920944053

In [26]:
text = x_test[0]
ent = y_test[0]
start = ent["entities"][0][0]
print(start)
stop = ent["entities"][0][1]
print(stop)
print(text[start:stop])

3321
3376
LS

Automation, Testing, Mobile Testing, SDET, Scrum Ma

So we got an __accuracy__ of about 90% on average. This is quite good considering, that we only considered about 300 cases for training.<br>
__Task 14__: Next, we want to find out, what the model did, when it went wrong. We only consider 5 resumees.<br>
Complete the following code.

In [27]:
for i in range( 5 ):

  resume = [x_test[i], y_test[i]]

  text = resume[0]
  ent = resume[1]
  start = ent["entities"][0][0]
  stop = ent["entities"][0][1]

  bilou_df = make_bilou_df(nlp,resume)

  difference_df = bilou_df[bilou_df["Predicted"] != bilou_df["True"]]

  # TODO: print, where the labels from Spacy and the annotation differ. Print the text, the predicted and the true labels.
  display(difference_df)

          Tokens Predicted True
548    EDUCATION         O    -
549                      O    -
550     Software         O    -
551      Product         O    -
552   Management         O    -
561           NY         O    -
562                      O    -
563     Bachelor         O    -
564           of         O    -
565     Computer         O    -
566      Science         O    -
567           in         O    -
568     Computer         O    -
569      Science         O    -
570  Engineering         O    -
575       SKILLS         O    -
576                      O    -
577   Automation         O    -
578            ,         O    -
579      Testing         O    -
580            ,         O    -
581       Mobile         O    -
582      Testing         O    -
583            ,         O    -
584         SDET         O    -
585            ,         O    -
586        Scrum         O    -
587       Master         O    -

         Tokens Predicted True
8          Site         O    -
9            at         O    -
10      Shendra         O    -
11         MIDC         O    -
12   Aurangabad         O    -
..          ...       ...  ...
649     Marathi         O    -
650           ,         O    -
651           &         O    -
652         amp         O    -
653           ;         O    -

[130 rows x 3 columns]

    Tokens Predicted      True
943      B         O  B-Degree
944    Com         O  L-Degree
951  EXCEL         O  U-Skills
957   WORD         O         -

                                               Tokens  ...                   True
64                                          Microsoft  ...  U-Companies worked at
65                                              India  ...                      O
208                                         EDUCATION  ...                      -
209                                                    ...                      -
210                                             PGDBM  ...                      -
..                                                ...  ...                    ...
286                                                    ...                      -
287                                         Microsoft  ...                      -
298  https://www.linkedin.com/in/karthik-g-v-7a25462/  ...                      -
299                                                    ...                      -
300                                         Microsoft  ...                      -

[69 rows x 3 columns]

           Tokens Predicted                   True
10    SUDAYSHEELA         O  B-Companies worked at
11                        O  I-Companies worked at
12    CONSULTANCY         O  I-Companies worked at
13            AND         O  I-Companies worked at
14       SERVICES         O  I-Companies worked at
...           ...       ...                    ...
1829      Outlook  I-Skills                      O
1830            ,  I-Skills                      O
1831     Software  I-Skills                      O
1832      testing  I-Skills                      O
1833            .  L-Skills                      O

[83 rows x 3 columns]

In [28]:
print(difference_df[difference_df["Predicted"] == "O"].shape[0])

17

__Question 8__: What was predicted, when the prediction differed from the true label?<br> Mostly, predictions were made on text, which was not annotated. Another occuring problem was that there were the wrong BILOU tag but the correct entity label

What do you think is necessary for computing the accuracy on token level?<br> Averaging the prediction scores over the different enitity labels

What is the advantage of computing the accuracy on token level?<br> It ignores the text which is not labeled and has a "none" prediction. Those none-labels occur very often and therefore improve the prediction scores even if the real labels are not predicted well

__Task 15__: Complete the following code.

In [29]:
## TODO cycle through chosen_entity_labels and calculate metrics for each entity using test data
data = []
for label in chosen_entity_labels:
    ## variables to store results for all resumes for one entity type
    true_positives = 0
    false_positives = 0
    false_negatives = 0
    for i in range( len( x_test ) ):
        ## use make_bilou_df on each resume in our test set, and calculate for each entity true and false positives,
        ## and false negatives. 

        resume = [x_test[i], y_test[i]]
        
        tres_df = make_bilou_df(nlp,resume)
        difference_df = tres_df[tres_df["Predicted"] != tres_df["True"]]
        same_df = tres_df[tres_df["Predicted"] == tres_df["True"]]

        ## calculate true false positives and false negatives for each resume
        
        tp = same_df[same_df["Predicted"].str.contains(label)].shape[0]
        
        fp = difference_df[difference_df["Predicted"].str.contains(label)].shape[0] 
        
        fn = difference_df[difference_df["True"].str.contains(label)].shape[0] 

        ## aggregate result for each resume to totals
        true_positives = true_positives + tp
        false_positives = false_positives + fp
        false_negatives = false_negatives + fn
    
    print("For label '{}' tp: {} fp: {} fn: {}".format(label,true_positives,false_positives,false_negatives))
    
    ## TODO Use the formulas you learned to calculate metrics and print them out
    ## also: prevent division by zero without raising errors. Explain your choice
    precision = 0
    recall = 0
    f1 = 0
    if true_positives + false_positives != 0 and true_positives + false_negatives != 0: 
      precision = (true_positives / (true_positives + false_positives))
      recall = (true_positives / (true_positives + false_negatives))
      if precision + recall != 0:
        f1 = 2* (precision*recall / (precision + recall))
      else:
        print("Division by Zero")
    else: 
      print("Division by Zero")

    row = [label,precision,recall,f1]
    data.append(row)

## make pandas dataframe with metrics data. Use the chosen entity labels as an index, and the metric names as columns. 
metric_df = pd.DataFrame( data, columns = [ "Label", "Precision", "Recall", "F1" ] )
display(metric_df)

For label 'Skills' tp: 1838 fp: 5941 fn: 1510
For label 'Companies worked at' tp: 592 fp: 164 fn: 520
For label 'Degree' tp: 293 fp: 260 fn: 203

                 Label  Precision    Recall        F1
0               Skills   0.236277  0.548984  0.330368
1  Companies worked at   0.783069  0.532374  0.633833
2               Degree   0.529837  0.590726  0.558627

__Question 9__: Explain from these statistics how well __nlp__ performs.<br> The network works quite okay (70% F1-score) for the labels "companies worked at" and "degree". But not so good for "skills". For "skills" the precision was very bad. 


__Task 16__: Compute for each metric (Precision, Recall, F1) the mean values.

In [30]:
#for label in [ "Precision", "Recall", "F1" ]:
    
    # Compute mean and print
print("Mean Precision : " + str(metric_df["Precision"].mean()))
print("Mean Recall : " + str(metric_df["Recall"].mean()))
print("Mean F1 : " + str(metric_df["F1"].mean()))

Mean Precision : 0.5163943969572885
Mean Recall : 0.5573614585034482
Mean F1 : 0.5076092716250198

__Question 10__: What do you learn, when you compare the performance of the model on the token level with the performance of the model on the global level from above?<br> That the performance computed with the "none" labels hide the real performance and give a false impression. Accuracy on global level was 83% and F1-score on token level was 57%.
Next, we prepare data for flair.

In [31]:
train = [ [ x_train[ i ], y_train[ i ] ] for i in range( len( x_train ) ) ]

test = [ [ x_test[ i ], y_test[ i ] ] for i in range( len( x_test ) ) ]

__Task 17__: Complete the following code.

In [32]:
# prepare data
training_data_as_bilou = [make_bilou_df(nlp,res) for res in train]

test_data_as_bilou = [make_bilou_df(nlp,res) for res in test]


# set up paths
path_to_training_file = os.getcwd() + "/training_data.csv"

path_to_test_file = os.getcwd() + "/test_data.csv"



# make sure, that if the corresponding files exist, they are emptied
if os.path.isfile( path_to_training_file ):

  open( path_to_training_file, "w" ).close()

if os.path.isfile( path_to_test_file ):

  open( path_to_test_file, "w" ).close()


# open empty files
training_file = open( path_to_training_file, "a", encoding = "utf-8" )
    
test_file = open( path_to_test_file, "a", encoding = "utf-8" )


for item in training_data_as_bilou:

  # TODO remove all tokens like "", " ", "\n" by ignoring them
  # for all other tokens do the following:
  # create a string s: s = token + " " + label + "\n"
  # if the label is "-", then write s = token + " O\n"
  #
  # write this newly created string to file
  # if this newly created string contains ".", then also write a 
  # newline to file that only contains "\n"
  #
  # Using this scheme, each line in the resulting files corresponds either to an empty line or a token.
  # Flair assembles a block of nonempty lines into a sentence. Therefore, the empty line
  # is a signal for Flair that the current sentence is finished. Therefore, we extracted
  # the whitespaces above.
  item.drop(item[item["Tokens"].str.contains("")].index)
  item.drop(item[item["Tokens"].str.contains(" ")].index)
  item.drop(item[item["Tokens"].str.contains("\n")].index)

  for i, row in item.iterrows():
    token = row["Tokens"]
    label = row["True"]
    s = ""
    if label == "-":
      s = token + " O\n"
    else: 
      s = token + " " + label + "\n"
    
    training_file.write(s)
    if "." in s:
      training_file.write("\n")
    


for item in test_data_as_bilou:
    
  # TODO the same as above.
  item.drop(item[item["Tokens"].str.contains("")].index)
  item.drop(item[item["Tokens"].str.contains(" ")].index)
  item.drop(item[item["Tokens"].str.contains("\n")].index)

  for i, row in item.iterrows():
    token = row["Tokens"]
    label = row["True"]
    s = ""
    if label == "-":
      s = token + " O\n"
    else: 
      s = token + " " + label + "\n"
    
    test_file.write(s)
    if "." in s:
      test_file.write("\n")


training_file.close()

test_file.close()

Start Flair

In [33]:
pip install flair

Requirement already satisfied: flair in /usr/local/lib/python3.7/dist-packages (0.8.0.post1)
Requirement already satisfied: gdown==3.12.2 in /usr/local/lib/python3.7/dist-packages (from flair) (3.12.2)
Requirement already satisfied: bpemb>=0.3.2 in /usr/local/lib/python3.7/dist-packages (from flair) (0.3.3)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.7/dist-packages (from flair) (2.8.1)
Requirement already satisfied: langdetect in /usr/local/lib/python3.7/dist-packages (from flair) (1.0.9)
Requirement already satisfied: konoha<5.0.0,>=4.0.0 in /usr/local/lib/python3.7/dist-packages (from flair) (4.6.5)
Requirement already satisfied: hyperopt>=0.1.1 in /usr/local/lib/python3.7/dist-packages (from flair) (0.1.2)
Requirement already satisfied: gensim<=3.8.3,>=3.4.0 in /usr/local/lib/python3.7/dist-packages (from flair) (3.6.0)
Requirement already satisfied: sqlitedict>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from flair) (1.7.0)
Requirement already satisfied: scikit-learn>=0.21.3 in /usr/local/lib/python3.7/dist-packages (from flair) (0.22.2.post1)
Requirement already satisfied: deprecated>=1.2.4 in /usr/local/lib/python3.7/dist-packages (from flair) (1.2.12)
Requirement already satisfied: huggingface-hub in /usr/local/lib/python3.7/dist-packages (from flair) (0.0.9)
Requirement already satisfied: segtok>=1.5.7 in /usr/local/lib/python3.7/dist-packages (from flair) (1.5.10)
Requirement already satisfied: numpy<1.20.0 in /usr/local/lib/python3.7/dist-packages (from flair) (1.19.5)
Requirement already satisfied: torch<=1.7.1,>=1.5.0 in /usr/local/lib/python3.7/dist-packages (from flair) (1.7.1)
Requirement already satisfied: tabulate in /usr/local/lib/python3.7/dist-packages (from flair) (0.8.9)
Requirement already satisfied: matplotlib>=2.2.3 in /usr/local/lib/python3.7/dist-packages (from flair) (3.2.2)
Requirement already satisfied: sentencepiece==0.1.95 in /usr/local/lib/python3.7/dist-packages (from flair) (0.1.95)
Requirement already satisfied: tqdm>=4.26.0 in /usr/local/lib/python3.7/dist-packages (from flair) (4.41.1)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from flair) (4.2.6)
Requirement already satisfied: transformers>=4.0.0 in /usr/local/lib/python3.7/dist-packages (from flair) (4.6.1)
Requirement already satisfied: ftfy in /usr/local/lib/python3.7/dist-packages (from flair) (6.0.3)
Requirement already satisfied: mpld3==0.3 in /usr/local/lib/python3.7/dist-packages (from flair) (0.3)
Requirement already satisfied: janome in /usr/local/lib/python3.7/dist-packages (from flair) (0.4.1)
Requirement already satisfied: regex in /usr/local/lib/python3.7/dist-packages (from flair) (2019.12.20)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from gdown==3.12.2->flair) (1.15.0)
Requirement already satisfied: requests[socks] in /usr/local/lib/python3.7/dist-packages (from gdown==3.12.2->flair) (2.25.1)
Requirement already satisfied: filelock in /usr/local/lib/python3.7/dist-packages (from gdown==3.12.2->flair) (3.0.12)
Requirement already satisfied: overrides<4.0.0,>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from konoha<5.0.0,>=4.0.0->flair) (3.1.0)
Requirement already satisfied: importlib-metadata<4.0.0,>=3.7.0 in /usr/local/lib/python3.7/dist-packages (from konoha<5.0.0,>=4.0.0->flair) (3.10.1)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from hyperopt>=0.1.1->flair) (1.4.1)
Requirement already satisfied: networkx in /usr/local/lib/python3.7/dist-packages (from hyperopt>=0.1.1->flair) (2.5.1)
Requirement already satisfied: pymongo in /usr/local/lib/python3.7/dist-packages (from hyperopt>=0.1.1->flair) (3.11.4)
Requirement already satisfied: future in /usr/local/lib/python3.7/dist-packages (from hyperopt>=0.1.1->flair) (0.16.0)
Requirement already satisfied: smart-open>=1.2.1 in /usr/local/lib/python3.7/dist-packages (from gensim<=3.8.3,>=3.4.0->flair) (5.0.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.21.3->flair) (1.0.1)
Requirement already satisfied: wrapt<2,>=1.10 in /usr/local/lib/python3.7/dist-packages (from deprecated>=1.2.4->flair) (1.12.1)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from huggingface-hub->flair) (3.7.4.3)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=2.2.3->flair) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=2.2.3->flair) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=2.2.3->flair) (2.4.7)
Requirement already satisfied: sacremoses in /usr/local/lib/python3.7/dist-packages (from transformers>=4.0.0->flair) (0.0.45)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from transformers>=4.0.0->flair) (20.9)
Requirement already satisfied: tokenizers<0.11,>=0.10.1 in /usr/local/lib/python3.7/dist-packages (from transformers>=4.0.0->flair) (0.10.3)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from ftfy->flair) (0.2.5)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->gdown==3.12.2->flair) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->gdown==3.12.2->flair) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->gdown==3.12.2->flair) (2020.12.5)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->gdown==3.12.2->flair) (1.24.3)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6; extra == "socks" in /usr/local/lib/python3.7/dist-packages (from requests[socks]->gdown==3.12.2->flair) (1.7.1)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata<4.0.0,>=3.7.0->konoha<5.0.0,>=4.0.0->flair) (3.4.1)
Requirement already satisfied: decorator<5,>=4.3 in /usr/local/lib/python3.7/dist-packages (from networkx->hyperopt>=0.1.1->flair) (4.4.2)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from sacremoses->transformers>=4.0.0->flair) (7.1.2)

In [34]:
from flair.data import Corpus
from flair.data_fetcher import NLPTaskDataFetcher


# your training file name
data_folder = os.getcwd() 

train_file = "training_data.csv"

# your training file name
test_file = "test_data.csv"

# when we wrote the data files, each row was either empty to signal the end
# of a sentence to Flair, or the line contained a token, a white space and a label.
# In the next line, we assign, that the token is the "text", and that the label is 
# "ner" label
columns =  {0: 'text', 1: 'ner'}

## Now load our csv into flair corpus
corpus = NLPTaskDataFetcher.load_column_corpus(data_folder,column_format=columns,
                                               train_file=train_file,
                                               test_file=test_file)
print(corpus)

2021-05-26 11:15:55,026 Reading data from /content/gdrive/My Drive/flair
2021-05-26 11:15:55,027 Train: /content/gdrive/My Drive/flair/training_data.csv
2021-05-26 11:15:55,032 Dev: None
2021-05-26 11:15:55,038 Test: /content/gdrive/My Drive/flair/test_data.csv

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:22: DeprecationWarning: Call to deprecated function (or staticmethod) load_column_corpus. (Use 'flair.datasets' instead.) -- Deprecated since version 0.4.1.

Corpus: 6428 train + 714 dev + 3167 test sentences